* {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    &, &:before, &:after {
        box-sizing: inherit;
    }
}

body {
    color: $color-text;
    font-family: $font-family-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background: $color-body;
    margin: 0;
    word-wrap: break-word;
    hyphens: manual;
    box-sizing: border-box;

    min-height: 100%;
    display: flex;
    flex-direction: column;

    // this is a fix for a chrome bug causing fonts to disappear
    // hopefully we can remove this in the future
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
}

html {
    height: 100%;
}

@-webkit-keyframes fontfix{
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

main, footer {
    background: $color-body;
    padding-top: 30px;
    padding-bottom: 30px;
}

main {
    overflow: hidden;
    flex: 1;
}

footer {
    text-align: center;

    
}

p {
    margin-top: 10px;
    margin-bottom: 18px;

    &.no-margin {
        margin: 0;
    }
}

hr {
    border: 0;
    height: 2px;
    background: $color-secondary;
    width: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    max-width: 100%;
    display: inline-block;
    position: relative;
}

.complete {
    color: #2ecc71;
}

.incomplete {
    color: #e74c3c;
}

// anchors
a {
    color: $color-secondary;
    text-decoration: none;
    border-bottom: 1px solid $color-secondary;

    &.btn {
        border: none;
        background: $color-primary;
        box-shadow: 0 2px 30px rgba(9,11,29,0.3);
        color: #fff;
        padding: 12px 38px;
        border-radius: 3px;
        display: inline-block;
        transition: background-color 0.25s ease-in-out;

        &:hover, &:focus, &:active {
            border: none !important;
            background: $color-primary--dark;
            color: #fff !important;
        }
    }
}

.content {
    a:hover,
    a:focus {
        color: $color-secondary--dark;
        border-color: $color-secondary--dark;
    }
}

.display--inline-block {
    display: inline-block;
}
