h1, h2, h3, h4 {
    font-family: $font-family-headline;
    font-weight: 700;
}

h1 {
    font-size: 42px;
    line-height: 52px;
    margin: 42px 0 20px 0;
}

h2 {
    font-size: 32px;
    line-height: 42px;
    margin: 36px 0 18px 0;
}
