.user {
    padding: 22px 0;
    margin: auto;
    overflow: hidden;

    &__img, &__info {
        display: inline-block;
    }

    &__img {
        border-radius: 3px;
        box-shadow: 0 2px 30px rgba(9,11,29,.3);
    }

    &__info {
        margin-left: 32px;
        vertical-align: top;

        h4 {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 0;
            line-height: 38px;
            font-size: 18px;

            p {
                margin-top: 2px;
            }
        }
    }

    @media screen and (max-width: 769px) {
        &__info {
            margin-left: 0;
            display: block;
            &, h4 {
                text-align: center;
            }
        }
    }
}
