$helpers-steps: 5;
$helpers-max: 30;

$color-body: #fafafa;

$color-primary: #ff625f;
$color-primary--dark: #ff4946;

$color-secondary: #ff625f;
$color-secondary--dark: #ff4946;

$color-tertiary: #3a3937;
$color-tertiary--dark: darken($color-tertiary, 8%);

$color-text: #000;

$font-family-headline: "Montserrat", sans-serif;
$font-family-text: "Montserrat", sans-serif;

$color-header: #fff;
